# Lab 2

# Programming exercise

# # 1 Write a program for calculating number of days between two dates. Hint you can import the date from datetime and in the result you can use variable_name.days to get result.

In [126]:
from datetime import date
date1 = date(2016, 10, 20)
date2 = date(2018, 9, 21)
no_of_days = date2 - date1
print(no_of_days.days)

701

# #2 A ladder put up right against a wall will fall over unless put up at a certain angle less than 90 degrees. Given variables length and angle storing the length of the ladder and the  angle that it forms with the ground as it leans against the wall, write a Python expression involving length and angle that computes the height reached by the ladder. Evaluate the expression for these values of length and angle:

# a)16 feet and 75 degrees

In [128]:
radian = 22/7*75/180
import math
m = math.sin(1.309)
l = 16
h = l*m
print(h)

15.454825896491853

# b)20 feet and 0 degrees

In [129]:
radian = 22/7*0/180
import math
m = math.sin(0)
l = 20
h = l*m
print(h)

0.0

# c)24 feet and 45 degrees

In [130]:
radian = 22/7*45/180
import math
m = math.sin(0.785)
l = 24
h = l*m
print(h)

16.963804346528782

# d)24 feet and 80 degrees

In [131]:
radian = 22/7*80/180
import math
m = math.sin(1.396)
l = 24
h = l*m
print(h)

23.63428751142029

# # 3 Write the relevant Python expression or statement, involving a list of numbers lst and using  list operators and methods for these speciﬁcations:

# a)An expression that evaluates to the index of the middle element of lst

In [137]:
num = ['2','4','8','6','5']
# a
num[2]

'8'

# b)An expression that evaluates to the middle element of lst

In [139]:
print(num[int(len(num) / 2)])

8

# c)A statement that sorts the list lst in descending order

In [106]:
num.sort()
num.reverse()
num

['8', '6', '5', '4', '2']

# d)A statement that removes the ﬁrst number of list lst and puts it at the end

In [140]:
num.remove('8')
num.append('8')
num

['2', '4', '6', '5', '8']

# # 4Start by assigning to variables monthsL and monthsT a list and a tuple, respectively, both containing strings 'Jan', 'Feb', 'Mar', and 'May', in that order. Then attempt the following with both containers:

In [168]:
monthsL = ['Jan', 'Feb', 'Mar', 'May']
monthsT = ('Jan', 'Feb', 'Mar', 'May')

# a)Insert string 'Apr' between 'Mar' and 'May'.

In [169]:
monthsL.insert(3, 'Apr')
monthsL

['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [211]:
monthsT.insert(3, 'Apr')
monthsT

AttributeError: 'tuple' object has no attribute 'insert'

# b)Append string 'Jun'

In [170]:
monthsL.append('Jun')
print(monthsL)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

In [210]:
monthst = monthsT + ('Jun')
monthst

TypeError: can only concatenate tuple (not "str") to tuple

# c)Pop the container.

In [177]:
monthsL.pop()
monthsL

['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [209]:
monthsT.pop()
monthsT

AttributeError: 'tuple' object has no attribute 'pop'

# d)Remove the second item in the container.

In [178]:
monthsL.remove('Feb')
monthsL

['Jan', 'Mar', 'Apr', 'May']

In [208]:
monthsT.remove('Feb')

AttributeError: 'tuple' object has no attribute 'remove'

# e)Reverse the order of items in the container

In [179]:
monthsL.reverse()
monthsL

['May', 'Apr', 'Mar', 'Jan']

In [207]:
monthsT.reverse()
monthsT

AttributeError: 'tuple' object has no attribute 'reverse'

# f)Sort the container.

In [181]:
monthsL.sort()
monthsL

['Apr', 'Jan', 'Mar', 'May']

In [206]:
monthsT.sort()
monthsT

AttributeError: 'tuple' object has no attribute 'sort'

# # 5 Write Python expressions corresponding to these statements:

# a)The number of characters in the word "anachronistically" is 1 more than the number of characters in the word "counterintuitive."

In [184]:
x = "anachronistically"
y = "counterintuitive"
len(x)>len(y)

True

# b)The word "misinterpretation" appears earlier in the dictionary than the word "misrep- resentation."

In [185]:
Order = "misinterpretation" > "misrepresentation." 
Order

False

# c)The letter "e" does not appear in the word "ﬂoccinaucinihilipiliﬁcation."

In [187]:
a = "floccinaucinihilipilification"
'e' in a

False

# d)The number of characters in the word "counterrevolution" is equal to the sum of the number of characters in words "counter" and "resolution."

In [190]:
a = 'counter'
b = 'resolution'
c = 'counterrevolution'
len(a+b) == len(c)

True

# # 6 Write the corresponding Python assignment statements:

# a)Assign 6 to variable a and 7 to variable b.

In [192]:
a = 6
b = 7
print(a)
print(b)

6
7

# b)Assign to variable c the average of variables a and b.

In [196]:
c = (a+b)/2
print(c)

6.5

# c)Assign to variable inventory the list containing strings 'paper', 'staples', and 'pencils'.

In [197]:
inventory = ['paper', 'staples', 'pencils']
print(inventory)

['paper', 'staples', 'pencils']

# d)Assign to variables first, middle and last the strings 'John', 'Fitzgerald', and 'Kennedy'.

In [199]:
first = 'John'
middle = 'Fitzgerald'
last = 'Kennedy'
print(first)
print(middle)
print(last)

John
Fitzgerald
Kennedy

# e)Assign to variable fullname the concatenation of string variables first, middle, and last. Make sure you incorporate blank spaces appropriately.

In [205]:
fullname = (first + ' ' + middle + ' ' + last)
print(fullname)

John Fitzgerald Kennedy

# # 7 A dartboard of radius 10 and the wall it is hanging on are represented using the two dimensional coordinate system, with the board’s center at coordinate (0; 0). Variables x and y store the x- and y-coordinate of a dart hit. Write an expression using variables x and y that evaluates to True if the dart hits (is within) the dartboard, and evaluate the expression for these dart coordinates:

# (a) (0; 0)